.cabecalho {
    overflow: hidden;
    padding: 20px 10px;
  }
  .cabecalho a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
.cabecalho a.logo {
    font-size: 25px;
    font-weight: bold;
}
.cabecalho a:hover {
    background-color: #a2a8a8;
    color:black;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
     transform: scale(1.05);
  }
  .cabecalho a.ativo {
    background-color: #13b15f;
    color: white;
  }
.cabecalho_direita {
    float: right;
  }
  
/* media adicionada pra se tornar responsivo*/
  @media screen and (max-width: 500px) {
    .cabecalho a {
      float: none;
      display: block;
      text-align: left;
    }
    .cabecalho_direita {
      float: none;
    }
  }