
.login {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 30%;
    text-align: center;
    color: #525252;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    max-width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.09);
}
label{
    color: #525252;
    font-family: sans-serif;
}
.login button a :hover {
    background: #dfdfdf;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 30%;
    text-align: center;
    color: #13b15f;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#login {
    margin-left:35%; /* Metade do valor da Largura */
    margin-top:8%; /* Metade da valor da Altura */
    position:absolute;
    font-family: sans-serif;
}
input[type=email]{   
    border-radius:12px;
    box-shadow: 1px 1px 2px #00c;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #fff; 
    border:2px solid #fff;
    height: 35px;
}
input[type=password]{   
    border-radius:12px;
    box-shadow: 1px 1px 2px #00c;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #fff; 
    border:2px solid #fff;
    height: 35px;
}
.button{
  background-color: #13b15f;
  border: none;
  color: #fff;
  padding: 10px 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  min-width: 190px;
  display: inline-block;
}
.cabecalho {
    overflow: hidden;
    padding: 20px 10px;
    font-family: sans-serif;
    color: #525252;
  }
  .cabecalho a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
.cabecalho a.logo {
    font-size: 25px;
    font-weight: bold;
}
.cabecalho a:hover {
    background-color: #a2a8a8;
    color:#fff;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
     transform: scale(1.05);
  }
  .cabecalho a.ativo {
    background-color: #13b15f;
    color: white;
  }
.cabecalho_direita {
    float: right;
  }
  
/* media adicionada pra se tornar responsivo*/
  @media screen and (max-width: 500px) {
    .cabecalho a {
      float: none;
      display: block;
      text-align: left;
    }
    .cabecalho_direita {
      float: none;
    }
  }
  /* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  /*background-color: #f8f8f8;*/
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.conteudoTab {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color:rgb(255, 245, 245);}
#Lancamentos {background-color: rgb(245, 255, 245);}
#Relatorio {background-color: rgb(245, 245, 255);}
#Metas {background-color: rgb(255, 255, 210);}

.Alertas {
  background: #fdfcfc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(67, 197, 50);
  width: 30%;
  text-align: center;
}
.tabelas {
  background: #fdfcfc;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(67, 197, 50);
  width: 90%;
  text-align: center;
}

#alerta1 {
  margin-left:18%;
  margin-top:4%;
  position:absolute;
}
#alerta2 {
 margin-left:52%;
 margin-top:4%;
 position:absolute;
}
#alerta3 {
  margin-left:18%;
  margin-top:20%;
  position:absolute;
}
#alerta4 {
  margin-left:52%;
  margin-top:20%;
  position:absolute;
 }
 #areceber {
  margin-left:3%;
  margin-top:1%;
  position:absolute;
 }
 #apagar {
  margin-left:3%;
  margin-top:1%;
  position:absolute;
 }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
}


/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 80%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right ; /* Right-align text */
  padding-top: 3px; /* Add top padding */
  padding-bottom: 3px; /* Add bottom padding */
  color: #333; /* White text color */
}

.diversos {width: 30%; background-color: #4CAF50;} /* Green */
.medico {width: 15%; background-color: #4CAF50;} /* Blue */
.aluguel {width: 35%; background-color: #2196F3;} /* Green */
.transporte {width: 10%; background-color: #2196F3;} /* Blue */
