body{
    background-color: #f8f8f8;
}
.login {
    background: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 30%;
    text-align: center;
    color: #525252;
    font-family: sans-serif;
    align-items: center;
    max-width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.09);
}
label{
    color: #525252;
    font-family: sans-serif;
}
.login button a :hover {
    background: #dfdfdf;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 30%;
    text-align: center;
    color: #13b15f;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#login {
    margin-left:35%; /* Metade do valor da Largura */
    margin-top:8%; /* Metade da valor da Altura */
    position:absolute;
    font-family: sans-serif;
}
input[type=email]{   
    border-radius:12px;
    box-shadow: 1px 1px 2px #00c;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #fff; 
    border:2px solid #fff;
    height: 35px;
}
input[type=password]{   
    border-radius:12px;
    box-shadow: 1px 1px 2px #00c;    
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #fff; 
    border:2px solid #fff;
    height: 35px;
}
.button{
  background-color: #13b15f;
  border: none;
border-radius: 1.5rem;
  color: white;
  padding: 10px 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  min-width: 190px;
}